---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Ulala Blaze New World">
    <div class="flex items-center justify-center h-screen">
        <a href="/"><img src="/assets/images/ulala.jpg" alt="logo" class="w-16 h-16 rounded-full"></a> 
        <div class="text-4xl ml-5 text-gray-500 font-semibold">404 ??!!</div>
    </div>
</Layout>
