---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ulala">
    <div class="text-center">
        <h1 class="text-orange-300 text-4xl font-bold pt-5">Dysto smells</h1>
    </div>
    <div class="flex items-center justify-center h-screen">
        <a href="/"><img src="/assets/images/ulala.jpg" alt="logo" class="w-16 h-16 rounded-full"></a> 
        <div class="text-4xl ml-5 text-gray-500 font-semibold">404 ??!!</div>
    </div>
</Layout>
