---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ulala">
    <div class="text-center">
        <h1 class="text-orange-300 text-4xl font-bold pt-5">Dysto smells</h1>
    </div>
</Layout>
